/* layout RESPONSIVO modelo CWS_alpha v.0.0.1 */
*{box-sizing: border-box; padding: 0; margin: 0;}
header {width: 100%; height: 640px;background-size: cover;background-position:center;}
nav{position: fixed;align-items: center;height: auto;}
nav, .produtos-servicos {display: flex;width: 100%;}
.logo {width:60%; padding: 4px;margin:auto 3%;text-align: center;}
a{padding: 5px;text-transform: uppercase; text-decoration: none;}
nav .menu {width: 40%;}
nav .menu .menu-desktop,.headerLoja {display: flex;}
nav .menu .menu-desktop a {padding: 8px;width:116px; text-align:center;margin: auto;}
nav .menu .menuMobile{width:110px;margin:auto; margin-right:6%;}
.btn-menu-mobile{font-size: 30px;}
nav .menu .btn-menu-mobile {display: none;position: relative;}
.btnCloseMenu{font-size: 15px;}
.btn-menu-mobile,.btnCloseMenu,.btnEnviar{width: 110px;height: 40px; text-align: center;align-items: center;}
#contMenuMobile{display: none;width:110px;height: max-content;position:absolute;z-index:1;}
.link-c-m-m{text-align:center;width: 100%;display: block; padding: 9px;margin-top: 26px;}
.apresentacao,.slogan,.cont-pedido-contato,.pedido-contato,footer,.cont-col,h2,h3,h4,h5,h6
{text-align: center;padding: 25px 6%;margin:2% 1%;}
.coluna {width: 32%; margin:1% auto;overflow: hidden;}
footer {align-items: center;}
.fotoProduto{height: 220px; width: 70%;}
.fotoToldoLoja{width: 100%;}
.fotoPerfil{width: 30%;height: auto;margin:auto; border-radius: 100px;}
.disable{display: none;}
button{border: none;font-size: 24px;}
form{width:max-content; margin: auto;padding: 3%;}
input{display: block;margin: 6% auto;}
.ghost{height: 320px;width:100%;}
.card{width: 70%;margin:2% auto; padding: 2%;}
.pageLoja{width: 90%;margin: 2% auto;overflow: hidden;border-radius: 30px;box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6)}
.nomeLoja{width: 60%;margin: auto;text-align: center;}
.contLoja,.infoLoja{padding: 2%;}
.tituloSecao{margin: 6% 3%;}

@media only screen and (max-width: 900px) {
  nav .menu .menu-desktop{display: none;}
  nav .menu .btn-menu-mobile{display: inline-block;}
  .coluna{width: 47%;}
  .produtos-servicos{flex-wrap: wrap;}
  .pageLoja{width: 94%;}
}
@media only screen and (max-width: 600px){
  .produtos-servicos{display: block;}
  .apresentacao,.slogam,.coluna,.pedido-contato{width: 94%; margin:6% auto;}
  .fotoProduto{height: auto;}
  .fotoPerfil{width: 45%;}
  .card{width: 85%;}
  .logo { font-size: small;} 
}


/*  Fim do layout CWS-Alpha-v 0.0.1 */

 /* estilo GPBC- */
 body {font-family: 'Croissant One', cursive;font-size: large;}
  header {background-image: url("./imagens/padeiro.jpg");}
  nav, footer {color:rgb(210, 180, 140);background-color: rgba(0, 0, 0, 0.7);}
  .btn-menu-mobile {color: tan;background:transparent;}
  .btnCloseMenu,nav .menu a{background-color: black;color: tan;}
  footer a {color: tan;}
  .apresentacao , .pedido-contato{background-color:tan;color: black;}
  .slogan{background-color:#CD853F;}
  .apresentacao,.pedido-contato,.coluna,footer,.slogan,.card,.infoLoja
  {border-radius: 15px; box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);}
  .fotoToldoLoja,.tituloSecao, #btnMySelf{box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);}
  .ativo,.item-produto{border-bottom: 3px solid#CD853F;}
  .btnPageWhats{position: fixed; bottom: 20px;right: 12px;width: 70px; height: 70px;}
  #btnWhats{width: 70px; height: 70px;margin: auto;}
  .iconeBTN{width: 100%;}
  .btnPageHome{position: fixed; bottom: 30px;left: 12px;width: 50px; height: 50px;}
   #btnMySelf {border-bottom-right-radius: 40px; padding: 1%;}
  #infoplatform {background-color:white ;text-align: center;padding:0;
    height: 0; width: 100%; overflow-y: hidden; position: absolute; z-index: 1; top: auto; display: block;}
  .ghost a, .infoplatform a {border-bottom: 3px solid#CD853F;color: chocolate;margin-left: 1%;}